*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
}
header{
    position: relative;
}
body{
   max-width: 100%;
}
.navbar{
    width: 100%;
    padding: .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242b2e;
    padding: .5rem 2rem;
}
.middle{
    display: flex;
    gap: 1.5rem;
}
.left>img{
    height: 50px;
    width: 50px;
}
.right>button{
    width: 120px;
    background-color: #0072e1;
    outline: none;
    font-weight: bolder;
    border: none;
    color: white;
    padding: .6rem 0rem;
    border-radius: .3rem;
}
.middle>a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}
a:hover{
    color: #76b5d3;
    scale: 1.1;
}
button:hover{
    scale: 1.1;
}
.toggle-btn{
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.dropdown-menu{
    display: none;
    position: absolute;
    top: 71px;
    width: 100%;
    background-color: #242b2e;
    padding: 1rem 1rem;
    overflow: hidden;
}
.dropdown-menu .middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dropdown-menu a:hover{
    color: #76b5d3;
    scale: 1.1;
}
.dropdown-menu .right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-menu .right>button{
    width: 100%;
    font-size: 19px;
    border-radius: 1rem;
    margin-top: 1rem;
}

/* Main content CSS */

.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    line-height: 1;
    gap: 2rem;
}
.main-left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    margin-top: 4%;
    padding: 0 3rem;
    width: 50%;
}
.main-right{
    width: 50%;
}
.main-right>video{
    width: 100%;
}
.main-left>img{
    width: 60%;
    margin-bottom: 20px;
}
.main-left>h2{
    font-size: 2rem;
    margin-bottom: 0;
} 
.main-left>h1{
    font-size: 4rem;
    color: #1893f7;
    margin-bottom: 20px;
} 
.main-left>h4{
    font-size: 1.2rem;
    color: #1893f7;
} 
.main-left>p{
    line-height: 1.5;
}

/* Part-3 CSS */
.sec-1{
    width: 100%;
    height: 450px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    color: white;
}
.sec-1>h1{
    text-align: center;
    color: #383cc1;
    font-size: 4rem;
    margin-bottom: 2.5rem;
    margin-top: 4rem;
}
.sec-1>p{
    text-align: center;
    font-size: 2rem;
    margin-bottom: .7rem;
}

/* Part-4 Footer section CSS */
.footer{
    background-color: #121315;
    color: #a7a7a7;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.5fr;
    padding: 0rem 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 4rem;
}
.footer h2{
    color: white;
    margin-bottom: 1.5rem;
}
.one>p{
    line-height: 2;
    text-align: justify;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
li:not(:first-child) {
    margin-top : 30px;
  }
li:hover{
    cursor: pointer;
    color: #2a8ded;
}

.four{
    display: flex;
    flex-direction: column;
}
.four-sub-sec{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
input,button{
    border: none;
    outline: none;
    font-size: 14px;
    padding: 18px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}
.four-sub-sec>.btn{
    background-color: #1893f7;
    color: #ffffff;
}
@media(max-width:800px){
    .navbar a, .navbar button{
        display: none;
    }
    .toggle-btn{
        display: block;
    }
    /* .dropdown-menu{
        display: block;
    } */
    .main{
        flex-direction: column;
    }
    .main-left{
        width: 100%;
        margin-top: 120px;
    }
    .main-right{
        width: 100%;
    }
    .sec-1{
        background-color: #ffffff;
    }
    .sec-1>p{
        color: #000000;
        font-size: 1.4rem;
    }
    .sec-1>h1{
        font-size: 1.8rem;
    }
    .footer{
        grid-template-columns: 1fr;
    }
}